


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-btn-secondary-color: #188CE8;
    --main-bg-color: #FFFFFF;
    --section-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --footer-address-color: rgba(255, 255, 255, 0.6) ;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--title-text-color);
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.logo-span {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.contact.list .link {
    color: var(--primary-text-color);
}

.contact.list .link:hover,
.contact.list .link:focus {
    color: var(--accent-color);
}

/* site nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color)
}

.site-nav .link.current {
    color: var(--accent-color)
}

/* hero */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 30px;
}

.section-title {
    color: var(--title-text-color);
}

.button {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    
}


.button.primary {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--section-bg-color);
}

.button.secondary:hover,
.button.secondary:focus{
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}

.main-btn {
    padding: 10px 32px;
    background-color: var(--accent-color);
    margin-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-color);
}

.main-btn:hover,
.main-btn:focus {

    background-color: var(--main-btn-secondary-color);
}

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-descr {
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
}

.job-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* .list.job img {
    position: absolute;
    display: flex;
    flex-direction: row;
} */

.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}

.person-job {
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--footer-bg-color);
}

footer .logo {
    color: var(--main-bg-color);
}

address > a {
    color: var(--main-bg-color);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
}

address>a:hover,
address>a:focus{
    color: var(--accent-color);
}

.list .contact {
    color: var(--footer-address-color);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
}

.list .contact:hover,
.list .contact:focus {
    color: var(--accent-color);
}





/* portfolio */


.filtr .link:hover,
.filtr .link:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}

a > p {
    
    font-size: 16px;
    line-height: 1.8;
    
    color: var(--primary-text-color);
}

.button.portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: var(--section-bg-color);
}

.button.portfolio:hover,
.button.portfolio:focus{

}
